@use 'colours';

.accountContainer {
    padding-top: 20px;

    h2 {
        color: colours.$white; 
    }

    .header {
        margin-bottom: 0;
    }

    .description {
        margin: 4px 0;
    }
}