@use 'globals';
@use 'colours';

#homeContainer{

    #sliderBackground {
        background-image: linear-gradient(colours.$black, colours.$teal);
    }

    #allArtistsHeading {
        background-color: colours.$teal;
        padding: 0.25em 0;
        margin: 0;
        font-family: globals.$heading5Font;
        font-size: globals.$heading5Size;
        line-height: globals.$heading5LineHeight;
        font-weight: 400;

        a {
            color: colours.$grey;
        }

        a:hover {
            color: colours.$white;
        }
    }

    .artistChevrons {
        color: colours.$white;
    }

    #eventListContainer {
        margin-bottom: 30px;
    }
}
