:root {
    --bodyBg: #0c0f0a;
    --progressBar: #41ead4;
    --background: #222222;
}

body {
    background: var(--background);
    text-align: center;
    color: #ffffff;
}

::selection {
    background: #fbff12; /* WebKit/Blink Browsers */
}

/* Overrides default styled accordion styles (too much bottom padding) */
.ui.styled.accordion .content {
    margin: 0;
    padding: 0.5em 1em 0.75em !important;
}