:root {
    --bodyBg: #0c0f0a;
    --progressBar: #41ead4;
    --background: #222222;
}

body {
    background: var(--background);
    text-align: center;
    color: #ffffff;
}

.header-body {
    /* border: 2px solid red; */
    position: fixed;
    left: 0;
    transition: top 1s;
    display: inline-block;
    margin: 0 auto;
    /* text-align: center; */
    width: 100%;
    background: #0c0f0a;
    /* height: 70px; */
}

.content-container {
    display: inline-block;
    margin: 0 auto;
    text-align: left;
    width: 95%;
}

/* .active {
    background-color: #222222;
} */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .content-container {
        width: 90%;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .content-container {
        width: 85%;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .content-container {
        width: 80%;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .content-container {
        width: 75%;
    }
}

/* Overrides default styled accordion styles (too much bottom padding) */
.ui.styled.accordion .content {
    margin: 0;
    padding: 0.5em 1em 0.75em !important;
}