$futura-pt-cond: futura-pt-condensed,
'Nunito Sans',
sans-serif;
$montserrat : 'Montserrat',
sans-serif;
$ubuntu: 'Ubuntu',
sans-serif;
$rubik: 'Rubik',
sans-serif;
$merriweather: 'Merriweather',
serif;