@use 'colours';
@use 'fonts';

// H2
$heading2Font: fonts.$montserrat;
$heading2Size: 25px;
$heading2Colour: colours.$white;

// H3
$heading3Font: fonts.$ubuntu;
$heading3Size: 22px;
$heading3Colour: colours.$teal;
$heading3Cursor: pointer;

// H4 
$heading4Font: fonts.$rubik;
$heading4Size: 14px;
$heading4Colour: colours.$teal;

// H5
$heading5Font: fonts.$montserrat;
$heading5Size: 12px;
$heading5Colour: colours.$pink;

// p
$paragraphFont: fonts.$merriweather;
$paragraphSize: 13px;
$paragraphColour: colours.$white;

// relevantLinks
$relevantLinksFont:fonts.$rubik;
$relevantLinksSize: 12px;
$relevantLinksColour: colours.$yellow;