@use 'colours';
@use 'fonts';

// H2
$heading2Font: fonts.$montserrat;
$heading2Size: 25px;
// H3
$heading3Font: fonts.$ubuntu;
$heading3Size: 22px;
$heading3Cursor: pointer;

// H4 
$heading4Font: fonts.$rubik;
$heading4Size: 16px;

// H5
$heading5Font: fonts.$montserrat;
$heading5Size: 14px;

// p
$paragraphFont: fonts.$merriweather;
$paragraphSize: 13px;

// relevantLinks
$relevantLinksFont:fonts.$rubik;
$relevantLinksSize: 14px;