// @use 'globals';
@use 'colours';
// @use 'breakpoints';

#artistContainer {
    // text-align: center;

    h1 {
        text-align: center;
    }
    // #allArtistsHeading {
    //     background-color: colours.$teal;
    //     padding: 0.25em 0;
    //     margin: 0;
    //     text-align: center;
    //     margin-bottom: 40px;

    //     a {
    //         color: colours.$black;
    //     }

    //     a:hover {
    //         color: colours.$pink;
    //     }
    // }

    // .artistChevrons {
    //     color: colours.$pink;
    // }

    img {
        width: 100%;
        margin-bottom: 20px;
    }

    .latestNewsh2 {
        text-align: center;
        margin-bottom: 20px;
    }

    .upcomingEventsh2 {
        text-align: center;
        color: colours.$grey;
        margin: 14px 0 0px 0;
    }
}