// @use 'globals';
@use 'colours';
@use 'breakpoints';

#artistContainer {
    // text-align: center;
    #mainContent {
        margin-bottom: 30px;

        h1 {
            text-align: center;
            margin: 30px 0;
        }
        // #allArtistsHeading {
        //     background-color: colours.$teal;
        //     padding: 0.25em 0;
        //     margin: 0;
        //     text-align: center;
        //     margin-bottom: 40px;
    
        //     a {
        //         color: colours.$black;
        //     }
    
        //     a:hover {
        //         color: colours.$pink;
        //     }
        // }
    
        // .artistChevrons {
        //     color: colours.$pink;
        // }
    
        #artistImg {
    
            img {
                margin: auto;
                margin-bottom: 20px; 
                width: auto;
                max-width: 100%;
                height: auto;
        
                @include breakpoints.small {
                    
                }
            
                @include breakpoints.medium {
                    width: auto;
                    max-height: 550px; 
                }
            }
        }
    
        #socialLinks {
            text-align: center;
    
            a:hover {
                text-decoration: underline;
            }
        }
    }

    
    .latestNewsh2 {
        text-align: center;
        margin-top: 30px;
        margin-bottom: 25px;
    }

    .upcomingEventsh2 {
        text-align: center;
        color: colours.$grey;
        margin-bottom: 30px;
    }

    #artistEventsh2 {
        color: colours.$black; 
    }
}