@use 'globals';
@use 'colours';
@use 'breakpoints';

.eventsContainer {
    padding-bottom: 10px;
    
    #mainEvent {
        text-align: center;

        #mainEventh2{
            margin: 10px 0 15px 0;
        }

        #mainEventDate {
            margin: 0 0 10px 0;
        }

        #mainEventImg {
            margin: auto;
            margin-bottom: 15px; 
            width: auto;
            max-width: 100%;
            height: auto;

            @include breakpoints.small {
                
            }
        
            @include breakpoints.medium {
                width: auto;
                max-height: 550px; 
            }
        }

        #description {
            // text-align: justify;
            font-family: globals.$paragraphFont;
            font-size: globals.$paragraphSize;
            color: colours.$white;
            margin: 20px 3em;
        }

        #relevantEventLinks {

            a:hover {
                text-decoration: underline;
            }
        }
    }

    #eventsh2 {
        text-align: center;
        color: colours.$black;
        margin-bottom: 0;
    }
}