@use 'globals';


#eventListContainer {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "title date links artists";
    // "add-ons tacos"
    // "sweet-treats quesadillas"
    // "sweet-treats family";

    text-align: center;
    margin: 1em 0 2em 0;

    #title {
        grid-area: title;
    }

    #date {
        grid-area: date;
    }

    #relevantLinks {
        grid-area: links;
    }

    #artists {
        grid-area: artists;
    }

    h3 {
        font-family: globals.$heading3Font;
        font-size: globals.$heading3Size;
        color: globals.$heading3Colour;
        cursor: pointer;
    }

    h4 {
        font-family: globals.$heading4Font;
        font-size: globals.$heading4Size;
        color: globals.$heading4Colour;
    }

    h5 {
        font-family: globals.$relevantLinksFont;
        font-size: globals.$relevantLinksSize;
        color: globals.$relevantLinksColour;
    }
}