@use 'breakpoints';
@use 'colours';
@use 'fonts';

.footerBody {
    border-top : 4px solid colours.$yellow;

    #footerContainer {
        margin: auto;

        #footerRow {

            .footerCol {
                font-family: fonts.$montserrat;
                font-size: 12pt;
            }
        
            .footerColLeft {
                margin-top: 40px;
        
                #footerLogo {
                    display: none;
                    text-align: left;
                    // margin-bottom: 20px;
        
                    #footerLogoImg {
                        width: 60px;
                        height: auto;
                    }
    
                    @media(max-width: 768px) {
                        margin-bottom: 20px;
                    }
                }
        
                #contactContainer {
                    text-align: left;

                    h5 {
                        font-size: 13pt;
                    }

                    a {
                        color: colours.$pink;
                    }
            
                    a:hover {
                        text-decoration: underline;
                    }
        
                    @include breakpoints.medium {
                        position: absolute;
                        bottom: 0px;

                        p {
                            padding-right: 50px;
                        }
                    }
                } 
    
                @include breakpoints.medium {
                    margin-bottom: 40px;
                }
            }
        
            .footerColRight {
                text-align: left; 
                margin-bottom: 40px;
                margin-top: 20px;
    
                a {
                    color: colours.$white;
                    margin-right: 6px;
                }
        
                a:hover {
                    color: colours.$pink;
                    cursor: pointer;
                }
        
                .icons {
                    font-size: 23pt;
                }
    
                h5 {
                    font-size: 13pt;
                }
        
                @include breakpoints.medium {
                    margin-top: 40px;
                    text-align: right; 
                    padding-left: 50px;
        
                    a {
                        margin-left: 6px;
                    }
                }
            }
        } 

        @include breakpoints.small {
            width: 90%;
        }
    
        @include breakpoints.medium {
            width: 85%;
        }
    
        @include breakpoints.large {
            width: 80%;
        }
    
        @include breakpoints.exLarge {
            width: 75%;
        }
    }
}