@use 'globals';
@use 'colours';

.pageContainer {

    .newsContainer {
        background-color: colours.$background;
    }    

    .eventsContainer {
        background-color: colours.$teal;
        color: colours.$background;
    } 
}

.contentContainer {
        //border: 2px solid red;
    display: inline-block;
    margin: 0 auto;
    text-align: left;
    width: 95%;

    /* Small devices (landscape phones, 576px and up) */
    @media (min-width: 576px) {
            width: 90%;
    }

    /* Medium devices (tablets, 768px and up) */
    @media (min-width: 768px) {
            width: 85%;
    }

    /* Large devices (desktops, 992px and up) */
    @media (min-width: 992px) {
            width: 80%;
    }

    /* Extra large devices (large desktops, 1200px and up) */
    @media (min-width: 1200px) {
            width: 75%;
    }
}