@use 'globals';
@use 'colours';

#homeContainer{

    #allArtistsHeading {
        background-color: colours.$teal;
        padding: 0.25em 0;
        margin: 0;

        a {
            color: colours.$black;
        }

        a:hover {
            color: colours.$pink;
        }
    }

    .artistChevrons {
        color: colours.$pink;
    }
}
