@use 'breakpoints';
@use 'colours';
@use 'fonts';

.storeContainer {
    width: 75%; 

    #storeh2 {
        margin-top: 0px;
        margin-bottom: 40px;
    }

    #filterContainer {
        display: block;
        text-align: right;
        margin-bottom: 30px;

        #filterSelect {
            border: 2px solid colours.$teal;
            background-color: colours.$background;
            color: colours.$white;
            text-align: right;
            padding: 6px;
            font-family: fonts.$ubuntu;
            font-size: 16px;

            .filterOption {
                font-family: fonts.$ubuntu;  
                font-size: 60px;
            }
        }
    }

    .productCard {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        border-bottom: 3px solid colours.$teal;
    }

    .productCard:hover {
        cursor: pointer;
        // border: 3px solid colours.$teal;

        img {
            transform: scale(1.05);
        }
    }

    @include breakpoints.medium {
       width: 100%;
    }
}